USE [master]
GO
/****** Object:  Database [ManagementDB]    Script Date: 3/19/2026 2:29:55 PM ******/
CREATE DATABASE [ManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [nvarchar](450) NOT NULL,
	[Province] [nvarchar](max) NULL,
	[IndustrialZone] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ContractSigningDate] [nvarchar](max) NULL,
	[ContractExpiryDate] [nvarchar](max) NULL,
	[TaxCode] [nvarchar](max) NULL,
	[BankAccountNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[UsageLocation] [nvarchar](max) NULL,
	[ConnectionPoint] [nvarchar](max) NULL,
	[UsagePurpose] [nvarchar](max) NULL,
	[VoltageLevel] [nvarchar](max) NULL,
	[MaxPower] [nvarchar](max) NULL,
	[AvgDailyPower] [nvarchar](max) NULL,
	[MinPower] [nvarchar](max) NULL,
	[RegisteredVolume] [nvarchar](max) NULL,
	[LegalDocuments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElectricityUsages]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricityUsages](
	[Id] [nvarchar](450) NOT NULL,
	[CustomerId] [nvarchar](450) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Price_FlatRate] [decimal](18, 2) NOT NULL,
	[Price_Normal] [decimal](18, 2) NOT NULL,
	[Price_Peak] [decimal](18, 2) NOT NULL,
	[Price_OffPeak] [decimal](18, 2) NOT NULL,
	[P_FlatRate] [decimal](18, 2) NOT NULL,
	[P_Normal] [decimal](18, 2) NOT NULL,
	[P_Peak] [decimal](18, 2) NOT NULL,
	[P_OffPeak] [decimal](18, 2) NOT NULL,
	[TotalConsumption] [decimal](18, 2) NOT NULL,
	[Amount_FlatRate] [decimal](18, 2) NOT NULL,
	[Amount_Normal] [decimal](18, 2) NOT NULL,
	[Amount_Peak] [decimal](18, 2) NOT NULL,
	[Amount_OffPeak] [decimal](18, 2) NOT NULL,
	[TotalBillAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ElectricityUsages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTransactions]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTransactions](
	[Id] [nvarchar](450) NOT NULL,
	[TransactionDate] [nvarchar](max) NOT NULL,
	[AssetCode] [nvarchar](max) NOT NULL,
	[UniqueAssetId] [nvarchar](max) NOT NULL,
	[EquipmentName] [nvarchar](max) NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[FromWarehouse] [nvarchar](max) NULL,
	[ToWarehouse] [nvarchar](max) NULL,
	[ExportedBy] [nvarchar](max) NULL,
	[ReceivedBy] [nvarchar](max) NULL,
	[Reason] [nvarchar](max) NULL,
	[DocumentRef] [nvarchar](max) NULL,
 CONSTRAINT [PK_EquipmentTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStocks]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStocks](
	[Id] [nvarchar](450) NOT NULL,
	[AssetCode] [nvarchar](450) NOT NULL,
	[UniqueAssetId] [nvarchar](max) NOT NULL,
	[EquipmentName] [nvarchar](max) NOT NULL,
	[WarehouseName] [nvarchar](max) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[Condition] [nvarchar](max) NULL,
	[MinStockLevel] [int] NOT NULL,
	[WarningStatus] [nvarchar](max) NULL,
	[LastUpdatedAt] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_InventoryStocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperatingEquipments]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatingEquipments](
	[Id] [nvarchar](450) NOT NULL,
	[AssetCode] [nvarchar](450) NOT NULL,
	[UniqueAssetId] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Location] [nvarchar](max) NULL,
	[WiringDiagram] [nvarchar](max) NULL,
	[EquipmentType] [nvarchar](max) NULL,
	[Phase] [nvarchar](max) NULL,
	[Voltage] [nvarchar](max) NULL,
	[Unit] [nvarchar](max) NULL,
	[StartDate] [nvarchar](max) NULL,
	[LastInspectionDate] [nvarchar](max) NULL,
	[NextInspectionDate] [nvarchar](max) NULL,
	[InspectionCycleMonths] [int] NOT NULL,
	[Manager] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_OperatingEquipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[Id] [nvarchar](450) NOT NULL,
	[AssetCode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Group] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Phase] [nvarchar](max) NULL,
	[VoltageLevel] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[TotalQuantity] [int] NOT NULL,
	[Unit] [nvarchar](max) NULL,
	[Lifespan] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Specifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_Specifications_AssetCode] UNIQUE NONCLUSTERED 
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItems]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItems](
	[Id] [nvarchar](450) NOT NULL,
	[SectionId] [nvarchar](450) NOT NULL,
	[TaskDescription] [nvarchar](max) NOT NULL,
	[StartDate] [nvarchar](max) NOT NULL,
	[EndDate] [nvarchar](max) NOT NULL,
	[PersonalTarget] [nvarchar](max) NOT NULL,
	[PersonalResult] [nvarchar](max) NOT NULL,
	[PersonalPriority] [nvarchar](max) NOT NULL,
	[PersonalComplexity] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[ManagerTarget] [nvarchar](max) NOT NULL,
	[ManagerResult] [nvarchar](max) NOT NULL,
	[ManagerPriority] [nvarchar](max) NOT NULL,
	[ManagerComplexity] [nvarchar](max) NOT NULL,
	[TaskRegistrationId] [nvarchar](450) NULL,
 CONSTRAINT [PK_TaskItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskRegistrations]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskRegistrations](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Month] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TaskRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskSections]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskSections](
	[Id] [nvarchar](450) NOT NULL,
	[RegistrationId] [nvarchar](450) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[SectionName] [nvarchar](max) NOT NULL,
	[PersonalWeight] [int] NOT NULL,
	[ManagerWeight] [int] NOT NULL,
 CONSTRAINT [PK_TaskSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2026 2:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_ParentId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Departments_ParentId] ON [dbo].[Departments]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ElectricityUsages_CustomerId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ElectricityUsages_CustomerId] ON [dbo].[ElectricityUsages]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryStocks_AssetCode]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryStocks_AssetCode] ON [dbo].[InventoryStocks]
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OperatingEquipments_AssetCode]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_OperatingEquipments_AssetCode] ON [dbo].[OperatingEquipments]
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskItems_SectionId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskItems_SectionId] ON [dbo].[TaskItems]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskItems_TaskRegistrationId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskItems_TaskRegistrationId] ON [dbo].[TaskItems]
(
	[TaskRegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskRegistrations_UserId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskRegistrations_UserId] ON [dbo].[TaskRegistrations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskSections_RegistrationId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskSections_RegistrationId] ON [dbo].[TaskSections]
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentId]    Script Date: 3/19/2026 2:29:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentId] ON [dbo].[Users]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Departments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Departments_ParentId]
GO
ALTER TABLE [dbo].[ElectricityUsages]  WITH CHECK ADD  CONSTRAINT [FK_ElectricityUsages_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElectricityUsages] CHECK CONSTRAINT [FK_ElectricityUsages_Customers_CustomerId]
GO
ALTER TABLE [dbo].[InventoryStocks]  WITH CHECK ADD  CONSTRAINT [FK_InventoryStocks_Specifications_AssetCode] FOREIGN KEY([AssetCode])
REFERENCES [dbo].[Specifications] ([AssetCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryStocks] CHECK CONSTRAINT [FK_InventoryStocks_Specifications_AssetCode]
GO
ALTER TABLE [dbo].[OperatingEquipments]  WITH CHECK ADD  CONSTRAINT [FK_OperatingEquipments_Specifications_AssetCode] FOREIGN KEY([AssetCode])
REFERENCES [dbo].[Specifications] ([AssetCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperatingEquipments] CHECK CONSTRAINT [FK_OperatingEquipments_Specifications_AssetCode]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_TaskRegistrations_TaskRegistrationId] FOREIGN KEY([TaskRegistrationId])
REFERENCES [dbo].[TaskRegistrations] ([Id])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_TaskRegistrations_TaskRegistrationId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_TaskSections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[TaskSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_TaskSections_SectionId]
GO
ALTER TABLE [dbo].[TaskRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_TaskRegistrations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskRegistrations] CHECK CONSTRAINT [FK_TaskRegistrations_Users_UserId]
GO
ALTER TABLE [dbo].[TaskSections]  WITH CHECK ADD  CONSTRAINT [FK_TaskSections_TaskRegistrations_RegistrationId] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[TaskRegistrations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskSections] CHECK CONSTRAINT [FK_TaskSections_TaskRegistrations_RegistrationId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId]
GO
USE [master]
GO
